.advantages {
  /*margin-top: o;*/
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    flex-basis: (100% - 8 * 15px);
  }
}

.advantages__item {
  flex-basis: auto;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    /*flex-basis: calc((100% - 2 * 30px) / 2);*/
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    /*flex-basis: calc(100% - 8 * 15px);*/
  }
}

.advantages__title {
  margin-bottom: 10px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantages__icon {
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
  height: 120px;

  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);

    &:first-child {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: (100% - 8 * 15px);
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-right: 0;
  }
}

.advantages__text {
  /*width: 450px;*/
  height: 75px;

  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $paragraph-color;

  @media screen and (min-width: 768px) {
    /*width: 354px;*/
    height: 75px;
  }

  @media screen and (min-width: 1200px) {
    /*width: 270px;*/
    height: 75px;
  }
}
