.advantages {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.advantages__item {
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% - 8 * 15px);
  }
}

.advantages__title {
  margin-bottom: 10px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantages__icon {
  display: flex;
  flex-direction: column;
  height: 120px;

  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

    &:first-child {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: no-wrap;
    margin-right: 0;
  }
}

.advantages__text {
  max-height: 50px;

  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $paragraph-color;

  @media screen and (min-width: 768px) {
    max-height: 75px;
  }
}
