.footer {
  flex-basis: 100%;
  display: block;
  align-items: center;
  background: #2f303a;
  color: $background-color;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer__logo {
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}

.footer__content {
  flex-basis: 100%;
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    /*justify-content: center;*/
    align-items: baseline;
  }
}

.footer__item {
  display: block;
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }

  /*@media screen and (min-width: 768px) {
    &:first-child {
      vertical-align: middle;
    }
  }*/

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
    &:first-child {
      margin-right: 85px;
    }
    &:nth-child(2) {
      margin-right: 93px;
    }
    &:last-child {
      padding-top: 0;
    }
  }
}

/*.footer__item--margin {
  display: block;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}*/

.footer__contact {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__address {
  color: $background-color;
  margin-top: 20px;

  &:first-child {
    margin-left: 0;
  }
}

.footer__mail,
.footer__phone {
  margin-top: 9px;
}

.footer__mail--color,
.footer__phone--color {
  color: rgba(255, 255, 255, 0.6);
}

/*----Footer-JOINUS----*/

.joinus {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.joinus__list {
  display: block;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.joinus__link {
  display: inline-block;
  margin-left: 10px;
  margin-right: 0;
  border-radius: 50%;

  &:first-child {
    margin-left: 0;
  }
}

.joinus__icon {
  display: flex;
  fill: $backgr-color-team;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  .joinus__icon:first-child {
    margin-left: 0;
  }
}

/*-----Signup----*/

.signup {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.signup__email-form {
  display: block;

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    vertical-align: middle;
  }
}

.signup__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;

  background-color: #2f303a;
  color: $background-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 20px;
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.button-signup {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
  font-family: $main-font;
  background: $accent-color;
  color: $background-color;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.button-signup__text {
  display: inline-block;
  vertical-align: middle;
}

.button-signup__icon {
  display: inline-block;
  vertical-align: middle;
  fill: $background-color;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
