.form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  .form__label {
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.form__item {
  display: block;
  text-align: left;
  margin-bottom: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $paragraph-color;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms $timing-function;

  &:focus {
    border: 1px solid $accent-color;
    outline: 1px solid $accent-color;
  }
}

.form__icon {
  position: absolute;
  top: 30px;
  left: 14px;
  fill: $title-text-color;

  transition: fill 250ms $timing-function;

  .form__label:focus-within & {
    fill: $accent-color;
  }
}

.form__textarea {
  display: flex;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  /*margin-bottom: 20px;*/
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms $timing-function;

  &:focus {
    border: 1px solid $accent-color;
    outline: 1px solid $accent-color;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__label--checkbox {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.form__input--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__icon--checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;

  .form__input--checkbox:checked + & {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
    background-color: $accent-color;
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
  }
}

.form__conditions-text {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $paragraph-color;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__link {
  display: inline-block;
  text-decoration-skip-ink: none;
  color: $accent-color;
}

.button__submit {
  display: flex;
  padding: 10px 32px;
  margin: auto;

  font-family: $main-font;
  background: $accent-color;
  color: $background-color;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background: #188ce8;
  }
}
