.logo {
  font-family: $logo-font;
  width: 145px;
  height: 31px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $title-text-color;
  margin-right: 93px;
  .logo__text--blue {
    font-family: $logo-font;
    color: $accent-color;
  }

  .logo__text--black {
    font-family: $logo-font;
    color: $title-text-color;
  }

  .logo__text--white {
    font-family: $logo-font;
    color: $background-color;
  }
}
