.menu-button {
  position: fixed;
  top: 10px;
  left: 90%;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  padding: 40px;
  text-align: center;

  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $background-color;
      z-index: 990;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /*margin-right: 0 auto;*/
  }
}

.nav-links__social {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .nav-links__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: $accent-color;

    @media screen and (max-width: 479px) {
      font-size: 12px;
    }
  }
}

.nav-links__items {
  color: $accent-color;
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }
}
