.team {
  background-color: $backgr-color-team;

  .team__list {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  .team__title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }
}

.employee {
  flex-basis: calc(100% - 2 * 15px);
  max-height: 622px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    max-height: 536px;
    margin: 15px;
    &:nth-child(odd) {
      margin-left: 0;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% - 8 * 15px);
    max-height: 428px;

    &:nth-child(odd),
    &:nth-child(2n) {
      margin: 15px;
      margin-bottom: 0;
    }
  }
}

.employee__card {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #eeeeee;
  background-color: $background-color;
}

.employee__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.employee__position {
  font-size: 16px;
  line-height: 1.19;
  color: $paragraph-color;
  margin-bottom: 16px;
}

.employee__link {
  display: flex;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.employee__button {
  display: inline-block;
  margin-left: 10px;
  margin-right: 0;
  border-radius: 50%;

  &:first-child {
    margin-left: 0;
  }
}

.employee__link:hover .employee__icon,
.employee__link:focus .employee__icon {
  fill: $background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}
