$background-color: rgb(255, 255, 255);
$title-text-color: #212121;
$accent-color: #2196f3;
$paragraph-color: #757575;
$backgr-color-team: #f5f4fa;
$main-font: 'Roboto', 'sans-serif';
$logo-font: 'Raleway', 'sans-serif';
$card-set-gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
